@model ClassroomPlatform.VIewModels.Assigments.AddWorkAssigmentViewModel

<div class="form-group">
    <label asp-for="Work"></label>
    <input asp-for="Work" class="form-control" />
    <span asp-validation-for="Work" class="text-danger"></span>
</div>
