/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.classroom {
    width: 300px;
    height: 300px;
    border: .0625rem solid #dadce0;
    cursor: pointer;
    overflow: hidden;
    border-radius: 0.5rem;
    margin: 2rem 2rem 2rem 0rem;
}

    .classroom:hover {
        transform: scale(102%, 102%);
    }

.header-classroom {
    height: 100px;
    padding: 0.7rem 1rem;
    color: white;
    background: grey;
}

.title-classroom{
    font-size: 1.5rem;
    color: inherit;
}

.title-classroom:hover{
    color: inherit;
}

.owner-name-classroom{
    font-size: 0.9rem;
    padding-top: 1rem;
}

.body-classroom {
    height: 150px;
    border: .0625rem solid #dadce0;
}

.footer-classroom {
    height: 50px;
    padding-right: 1rem;
    display: flex;
    float: right;
}

.icon-container {
    height: 90vh;
    width: 3rem;
    padding: 0.75rem 0.8rem;
}

    .icon-container:hover {
        background: #edebe6;
    }

.add-work {
    color: #17a2b8 !important;
    width: 80%;
    margin-left: 2rem;
}

.add-work:hover{
    color: white !important;
}

.folder {
    width: 300px;
    height: 300px;
    background: yellow;
}

.classroom-main-title {
    width: 60rem;
    height: 15rem;
    background: grey;
    margin: auto;
    border-radius: 0.8rem;
    padding: 2rem 2rem;
    color: white;
}

.classroom-name {
    font-size: 2rem;
}

.classroom-main-title a{
    color: white;
    cursor: pointer;
}

.classroom-container {
    width: 60rem;
    margin: auto;
    margin-top: 2rem;
    display: flex;
}

.upcoming-assigments {
    width: 13rem;
    min-height: 9rem;
    border-radius: 0.8rem;
    border: .0625rem solid #dadce0;
    padding: 1rem;
    max-height: 10rem;
}

.upcoming-text {
    color: #3c4043;
}

.woohoo {
    color: rgba(0,0,0,0.549);
    font-size: 0.85rem;
    margin: 1rem 0rem;
}

.view-all-assigments{
    float: right;
    color: #3c4043;
}

.view-all-assigments:hover{
    color: grey;
    cursor: pointer;
}

.item-stream-classwork {
    width: 60rem;
    min-height: 4.5rem;
    margin-left: 5rem;
    border-radius: 0.8rem;
    border: .0625rem solid #dadce0;
    cursor: pointer;
    padding: 1.3rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.item-stream {
    width: 60rem;
    min-height: 4.5rem;
    border-radius: 0.8rem;
    border: .0625rem solid #dadce0;
    cursor: pointer;
    padding: 0.8rem;
    margin-bottom: 1rem;
}

    .item-stream:hover {
        background: #edebe6;
    }

.title-assigment {
    color: #3c4043;
}

.date-assigment {
    color: #5f6368;
    font-size: 0.85rem; 
}

.people-container{
    margin-left: 10rem;
}