@model ClassroomPlatform.VIewModels.Announcements.AddAnnouncementViewModel

<div class="form-group">
    <label asp-for="Content"></label>
    <input asp-for="Content" class="form-control" />
    <span asp-validation-for="Content" class="text-danger"></span>
</div>